
@font-face {font-family: "iconfont";
    src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixing:before { content: "\e7c4"; }

.icon-zantingbofang:before { content: "\e6b8"; }

.icon-dianying:before { content: "\e70e"; }

.icon-player-back:before { content: "\e670"; }

.icon-player-forward:before { content: "\e671"; }

.icon-bofang:before { content: "\e601"; }

.icon-beisudu:before { content: "\e637"; }

.icon-beisudu1:before { content: "\e638"; }

.icon-sousuo:before { content: "\e608"; }

.icon-set:before { content: "\e600"; }